.col-sm-2
    .sidebar-nav.navbar-default
        .container
                .col-sm-2
                    ul.nav.sidebar-nav#sideBar
                        li
                            a(href="/admin/atm/list") ATM信息页
                        li
                            a(href="/admin/atm/new") 创建ATM
