.col-sm-2
    .sidebar-nav.navbar-default
        .container
                .col-sm-2
                    ul.nav.sidebar-nav#sideBar
                        li
                            a(href="/admin/card/list") 银行卡信息页
                        li
                            a(href="/admin/card/new") 注册新卡
