.header-wrap
    img.site-logo(src="/images/logo.png" alt="Blockchain ATM")
section.athp-section.athp-lead-section
    video.vdo_inner#bgvid(poster="/videos/poster.png" autoplay loop)
        //- source(src="/videos/herobanner.webm", type="video/webm")
        source(src="/videos/herobanner.ogv", type="video/ogv")
        source(src="/videos/herobanner.mp4", type="video/mp4")
.container-fluid
    .row-fluid
        .span12
            .leaderboard
                h1=bigTitle