script(src='/libs/jquery/dist/jquery.min.js' defer)
link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
link(href='/css/style.css',rel='stylesheet')
link(href='/images/blockchain_favicon.ico',rel='shortcut icon')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js' defer)
script(src='/js/test.js' defer)