.atmPicture{
    width: 300px;
    height: 300px;
}
.atmp-title{
    position: fixed;
    left: 50px;
    color: white!important;
}
.inputChecking{
    color: red;
    text-align: center;
    height: 40px;
}
#cardBin{
    border: 1px solid #000;
    width: 80px;
    margin-left: 15px;
}
