body {
    background: url(../images/homescreen.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
}
input{
    text-align: center;
}
.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(150%);
}
.btn-atm{
    opacity: 0.9;
    padding-top: 0;
    padding-bottom: 0;
}
.inputChecking{
    color: red;
    height: 50px;
}
.site-logo{
    left: 20px;
    top: 20px;
    position: fixed;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.card img:hover{
    cursor: pointer;
    border: 1px solid #5bb75b;
}
.atm{
    position: relative;
    left: 20%;
}
.txn{
    background-color: #5bb75b;
    border-radius: 50px;
    opacity: 0.8;
}
.txn:hover{
    background-color: #3fa03f;
    opacity: 0.9;
}
.txn p{
    text-align: center;
    padding-top: 25%;
}
.txn a{
    color: white;
    line-height: 100%;
    height: 100%;
}
.txn a:hover{
    cursor: pointer;
    text-decoration: none;
}
.pwd-area{
    width: 60% !important;
    height: 280px;
    line-height: 200px;
    margin-top: -100px;
}
.input-value{
    font-size: 60px;
    border-radius: 20px;
    width: 100%;
    height: 140px;
    height: 140px;
    margin-bottom: 30px;
}
.pwd-area .form-horizontal .control-label{
    width: 100%;
}
.pwd-area #amt{
    font-size: 80px;
}
.pwd-area p{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(233, 223, 223);
    font-size: 30px;
}
.amt-area{
    border: 1px dashed #fff;
}
.txn-value{
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 60px;
    margin-left: 40%;
    color: white;
}
.submitBtn{
    margin-top: 50px;
    width: 280px;
    position: relative;
    bottom: 30px;
    left: 18%;
    margin: 30px auto;
    height: 70px;
    line-height: 60px;
    font-size: 34px;
    padding: auto 30px;
    border-radius: 10px;
    opacity: 0.8;
}
.successBtn{
    margin-top: 50px;
    width: 280px;
    position: relative;
    bottom: 30px;
    left: 40%;
    margin: 30px auto;
    height: 70px;
    line-height: 60px;
    font-size: 34px;
    padding: auto 30px;
    border-radius: 10px;
    opacity: 0.8;
}

.successBtn:hover{
    cursor: pointer;
} 
.fail{
    text-align: center;
    color: white;
    height: 300px;
    line-height: 300px;
}
.fail-area{
    border: 1px rgb(233, 223, 223) dashed;
    width: 60% !important;
    margin-left: 20%!important;
    height: 300px;
    line-height: 300px;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .nav li {
  padding-top: 5px;
  }
  
.sidebar-nav {
    padding: 9px 0;
}
.leaderboard {
padding: 60px;
text-align: center;
}
.leaderboard h1 {
line-height: 1;
letter-spacing: -1px;
text-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);
color:#fff;
z-index: 99;
}
.fail p{
    font-size: 30px;
    height:50px;
    line-height: 50px;
    margin: 30px auto;
}
.cardRow1,.cardRow2{
    display: none;
}
.athp-section .athp-lead-section{
    padding-top: 70px !important;
    padding-bottom: 0px;
    overflow: hidden;
}
video#bgvid {
    width: 100%;
    background: url(../videos/poster.png) repeat;
    background-size: cover;
    opacity:0.5;
}
.vdo_inner {
    height: inherit;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
video{
    object-fit: contain;
}
/*当width<1000px时,需要调节btn-atm按钮的位置*/
@media screen and (max-width:1000px){
    .center-vertical{
        top:50%;
        transform: translateY(40%);
    }
}
@media screen and (max-height:767px){
    .cardRow2{
        display: block;
    }
    .cardRow2 .spanBox{
        margin-top: -120px;
        margin-left: -10px;
    }
    .txn{
        height: 160px;
    }
    .txn a{
        font-size: 30px;
    }
    .leaderboard h1 {
        font-size: 20px;
    }
}
/*当width<＝780px时,不显示videos*/
@media screen and (max-width:780px){
    .athp-section .athp-lead-section{
        display: none;
    }
    video#bgvid {
        opacity:0;
    }
    .cardRow1{
        display: block;
    }
    .txn{
        height: 200px;
    }
    .txn a{
        font-size: 40px;
    }
    .btn-atm{
        height: 80px;
        line-height: 80px;
        font-size: 20px;
    }
    .leaderboard h1 {
        font-size: 30px;
    }
}
/*当width>＝781px时，调节input-form位置*/
@media screen and (min-width:1310px){
    .input-form{
        width: 80%;
        height: 80%;
        margin-left: 10%;
        position: relative;
        top:50%;
        transform: translateY(40%)
    }
}

@media screen and (min-width:781px){
    .btn-atm{
        height: 100px;
        line-height: 100px;
        font-size: 30px;
    }
    .leaderboard h1 {
        font-size: 40px;
        color:#e5f1e5;
    }
    /* .input-form{
        width: 80%;
        height: 80%;
        margin-left: 10%;
        position: relative;
        top:50%;
        transform: translateY(80%)
    } */
}

.heart-shape {
    position: fixed;
    z-index: 99;
    top: 40px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #bbccbb;
    animation: heartFlash 1s ease infinite;
    -webkit-animation: heartFlash 1s ease infinite;
}

.heart-shape:before,
.heart-shape:after {
    position: fixed;
    width: 40px;
    height: 40px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #bbccbb;
    animation: heartFlash 1s ease infinite;
    -webkit-animation: heartFlash 1s ease infinite;
}

.heart-shape:before {
    bottom: 0px;
    left: -23px;
}

.heart-shape:after {
    top: -23px;
    right: 0px;
}

@keyframes heartFlash {
    0% {
        background-color: #bbccbb;
    }
    50% {
        background-color: #85ac85;
    }
    100% {
        background-color: #afe45a;
    }
}

.reminder {
    position: fixed;
    z-index: -1;
    top: 50px;
    width: 250px;
    height: 100px;
    border: 1px dashed #5bb75b;
    box-shadow: 10px 10px 5px #888888;
    -moz-box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888;
}

.reminder p {
    text-align: left;
    text-indent: 30px;
    font-size: 16px;
    color: #fff;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}
.saveFee{
    font-size: 22px;
    color: red;
    font-weight: bold;
}