extend ../blockchainInfo
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr.active
                        th 用户名
                        th 区块链账户余额
                    tbody
                        each item in customers
                            tr
                                td #{item.name}
                                td #{item.blockBalance}
            
            table.table.table-hover.table-bordered
                thead
                    tr.active
                        th 所有账户总余额
                    tbody
                        tr
                            td #{totalBlockBalance}