//-录入页是一个表单，需要用到很多字段
extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-8
                .form-horizontal
                    //-隐藏域，表示card是新录入或者更新的
                    if card._id
                        input#inputId(type="hidden",name='card[_id]',value=card._id)
                    //-可以选择的银行
                    .form-group
                        label.col-sm-4.control-label(for='chooseBank') 所属银行:
                        select.col-sm-6
                            each bin in bins
                                option.form-control(type='text',name='bin[bank]',value=bin.bank)

                    //- .form-group
                    //-     label.col-sm-4.control-label(for='inputBin') BIN:
                    //-     .col-sm-6
                    //-         input#inputBin.form-control(type='text',name='binMapping[bin]',value=binMapping.bin)

                    //- //-验证结果，只有失败才会提醒
                    //- .form-group
                    //-     .col-sm-4
                    //-     .inputChecking#checkBin
                    //- .form-group
                    //-     .col-sm-offset-3.col-sm-3
                    //-     button.btn.btn-info#createBin 确认

