//-录入页是一个表单，需要用到很多字段
extend ../blockchainInfo
block content
    .container
        .row
            .col-sm-8
                form.form-horizontal#cardForm(method='post',action='/admin/card',enctype='multipart/form-data')
                    //-隐藏域，表示card是新录入或者更新的
                    if card._id
                        input(type="hidden",name='card[_id]',value=card._id)

                    .form-group
                        label.col-sm-4.control-label(for='inputcardNumber') 卡号:
                        .col-sm-6
                            input#inputcardId.form-control(type='text',name='card[cardId]',value=card.cardId)

                    .form-group
                        label.col-sm-4.control-label(for='inputcardId') 卡号:
                        .col-sm-6
                            input#inputcardId.form-control(type='text',name='card[cardId]',value=card.cardId)

                    .form-group
                        label.col-sm-4.control-label(for='inputLocation') 位置:
                        .col-sm-6
                            input#inputLocation.form-control(type='text',name='card[location]',value=card.location)
      
                    .form-group
                        .col-sm-offset-3.col-sm-3
                        button.btn.btn-info#createcard(type='submit') 添加

