//- jQuery基础（五）-Ajax应用与常用插件
//- 1-1使用load()方法异步请求数据
extends ../layout 
block content
    .col-md-3.col-md-offset-3
        .form-group.form-inline
            label(for="") 我最爱吃的水果：
            button.btn.btn-success#load 加载
        ul#fruitList
    script(src="/js/fruit.js")
    