extends ../layout 
block content
    .container
        .text-center.center-vertical 
            each supportedTxn in supportedTxns
                button.btn.btn-success.btn-txn.confirmTxn #{supportedTxn}
    