//- jQuery基础（五）-Ajax应用与常用插件
//- 1-2使用getJSON()方法异步加载JSON格式数据
extends ../layout 
block content
    .col-md-3.col-md-offset-3
        .form-group.form-inline
            label(for="") 我最喜欢的运动：
            button.btn.btn-success#load 加载
        ul#sportList
    script(src="/js/sport.js")
    