extends ../layout 
block content
    .container
        .text-center.form-group.input-form
            input.input-value.form-control#enterAcc
            .inputChecking#accChecking
            button.btn.btn-success.btn-atm#confirmAcc Confirm
    