extends ../layout 
block content
    .container
        .text-center.form-group.input-form
            input.input-value.form-control(type="password")#enterPwd
            .inputChecking#pwdChecking
            button.btn.btn-success.btn-atm#confirmPwd чбошод
    