extends ../layout 
block content
    .container
        .row-fluid
            .span12.result-box
                .text-center
                    p 您当前的卡号为: #{debitAccount}
                    p 余额为: #{blockAccountBlance}
            