extends ../test 
block content
    .container
        .text-center.center-vertical
        h4 ATM->Blockchain:
            button.btn.btn-success#startTrx 开始交易
            button.btn.btn-success#confirmDebit 确认扣款
            button.btn.btn-success#confirmCredit 确认收款
        #blockchainResult
    